---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts/5425703961?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ab":false,"ab_variation":false,"absolute_url":"http://demo-hubapi.hs-sites.com/blog/2017/11/08/first-blog-post","allowed_slug_conflict":false,"analytics_page_id":"5425703961","analytics_page_type":"blog-post","archived":false,"are_comments_allowed":true,"attached_stylesheets":[],"author":"testapi@hubspot.com","author_at":1513870957206,"author_email":"testapi@hubspot.com","author_name":"TEst
        Api","author_user_id":215482,"author_username":"testapi@hubspot.com","blog_author":{"avatar":"","bio":"","created":1510140091408,"deleted_at":0,"display_name":"Ashish
        Kumar","email":"ashish@gmrwebteam.com","facebook":"","full_name":"Ashish Kumar","google_plus":"","gravatar_url":"https://app.hubspot.com/settings/avatar/814c8e8bf777c4067aacd91c017b3b15","has_social_profiles":false,"id":5425198845,"linkedin":"","portal_id":62515,"slug":"ashish-kumar","twitter":"","twitter_username":"","updated":1510140091408,"username":"Ashish
        Kumar","website":""},"blog_author_id":5425198845,"blog_post_author":{"avatar":"","bio":"","created":1510140091408,"deleted_at":0,"display_name":"Ashish
        Kumar","email":"ashish@gmrwebteam.com","facebook":"","full_name":"Ashish Kumar","google_plus":"","gravatar_url":"https://app.hubspot.com/settings/avatar/814c8e8bf777c4067aacd91c017b3b15","has_social_profiles":false,"id":5425198845,"linkedin":"","portal_id":62515,"slug":"ashish-kumar","twitter":"","twitter_username":"","updated":1510140091408,"username":"Ashish
        Kumar","website":""},"blog_publish_instant_email_task_uid":"DONE","blog_publish_to_social_media_task":"DONE","blueprint_type_id":0,"category":3,"category_id":3,"comment_count":0,"composition_id":0,"content_group":351076997,"content_group_id":351076997,"created":1510140092558,"created_time":1510140092558,"css":{},"css_text":"","ctas":{},"current_state":"PUBLISHED","currently_published":true,"deleted_at":0,"domain":"","enable_google_amp_output_override":false,"featured_image":"http://s3.amazonaws.com/cdn1.hubspot.com/StockImages/Expressions/7K0A0014-2.jpg","featured_image_alt_text":"Expressions-1.jpg","featured_image_height":0,"featured_image_length":0,"featured_image_width":0,"flex_areas":{},"freeze_date":1510138529000,"has_user_changes":true,"html_title":"First
        blog post update","id":5425703961,"is_captcha_required":true,"is_draft":false,"is_instant_email_enabled":true,"is_published":true,"is_social_publishing_enabled":false,"keywords":[],"label":"First
        blog post update","list_template":"generated_layouts/4679039338.html","live_domain":"demo-hubapi.hs-sites.com","meta":{"publish_immediately":false,"meta_description":"This
        is the excerpt for your very first post.","post_body":"<p>This is your very
        first post. Click the Edit link to modify or delete it, or <a href=\"https://wordpress.com/post\">start
        a new post</a>. If you like, use this post to tell readers why you started
        this blog and what you plan to do with it.</p>","featured_image":"http://s3.amazonaws.com/cdn1.hubspot.com/StockImages/Expressions/7K0A0014-2.jpg","use_featured_image":true,"tag_ids":[4257445116],"topic_ids":[4257445116],"blog_publish_instant_email_task_uid":"DONE","blog_publish_to_social_media_task":"DONE","post_summary":"<p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>","has_user_changes":true,"last_edit_session_id":null,"last_edit_update_id":null,"html_title":"First
        blog post update","rss_body":"<p>This is your very first post. Click the Edit
        link to modify or delete it, or <a href=\"https://wordpress.com/post\">start
        a new post</a>. If you like, use this post to tell readers why you started
        this blog and what you plan to do with it.</p>","rss_summary":"<p>This is
        your very first post. Click the Edit link to modify or delete it, or <a href=\"https://wordpress.com/post\">start
        a new post</a>. If you like, use this post to tell readers why you started
        this blog and what you plan to do with it.</p>","blog_post_schedule_task_uid":null,"placement_guids":[],"keywords":[],"campaign_name":null,"campaign_utm":null,"featured_image_alt_text":"Expressions-1.jpg","enable_google_amp_output_override":false,"author_email":"testapi@hubspot.com","author_username":"testapi@hubspot.com","author_user_id":215482},"meta_description":"This
        is the excerpt for your very first post.","name":"First blog post update","page_redirected":false,"page_title":"First
        blog post update","parent_blog":{"absolute_url":"http://demo-hubapi.hs-sites.com/blog","allow_comments":true,"amp_body_color":"#404040","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_custom_css":"","amp_header_background_color":"#ffffff","amp_header_color":"#1e1e1e","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_link_color":"#416bb3","amp_logo_alt":"","amp_logo_height":0,"amp_logo_src":"","amp_logo_width":0,"analytics_page_id":351076997,"attached_stylesheets":[],"captcha_after_days":7,"captcha_always":false,"category_id":3,"close_comments_older":0,"comment_date_format":"medium","comment_form_guid":"6ec02265-f341-4621-a71a-fa161ef94614","comment_max_thread_depth":3,"comment_moderation":false,"comment_notification_emails":[],"comment_should_create_contact":true,"comment_verification_text":"","created":1381896103000,"created_date_time":1381896103000,"default_group_style_id":"","default_notification_from_name":"Patrick
        Fitzsimmons","default_notification_reply_to":"pfitzsimmons@hubspot.com","deleted_at":0,"description":"","domain":"","domain_when_published":"demo-hubapi.hs-sites.com","enable_google_amp_output":false,"enable_social_auto_publishing":false,"html_footer":"11111111111111","html_footer_is_shared":true,"html_head":"","html_head_is_shared":true,"html_keywords":[],"html_title":"API
        Demonstration Blog","id":351076997,"instant_notification_email_id":"348108934","item_layout_id":4679039338,"item_template_is_shared":true,"item_template_path":"generated_layouts/4679039338.html","language":"en_US","listing_layout_id":4679039338,"listing_template_path":"generated_layouts/4679039338.html","live_domain":"demo-hubapi.hs-sites.com","month_filter_format":"MMMM
        yyyy","monthly_notification_email_id":"348108919","name":"API Demonstration
        Blog","portal_id":62515,"post_html_footer":"11111111111111","post_html_head":"","posts_per_listing_page":10,"posts_per_rss_feed":10,"public_title":"API
        Demonstration Blog","publish_date_format":"medium","resolved_domain":"demo-hubapi.hs-sites.com","root_url":"http://demo-hubapi.hs-sites.com/blog","show_social_link_facebook":false,"show_social_link_google_plus":false,"show_social_link_linkedin":false,"show_social_link_twitter":false,"show_summary_in_emails":false,"show_summary_in_listing":false,"show_summary_in_rss":false,"site_id":0,"slug":"blog","social_account_twitter":"","subscription_contacts_property":"blog_api_demonstration_blog_subscription","subscription_form_guid":"6620143a-a4b1-4709-a537-c3e5b66c97c1","subscription_lists_by_type":{"daily":280,"instant":279,"monthly":278,"weekly":281},"updated":1489429205000,"updated_date_time":1489429205000,"url_base":"demo-hubapi.hs-sites.com/blog","url_segments":{},"use_featured_image_in_summary":true,"uses_default_template":false},"personas":[],"placement_guids":[],"portal_id":62515,"post_body":"<p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>","post_body_rss":"<p>This is your very first post. Click the
        Edit link to modify or delete it, or <a href=\"https://wordpress.com/post\">start
        a new post</a>. If you like, use this post to tell readers why you started
        this blog and what you plan to do with it.</p>","post_email_content":"<p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>","post_featured_image_if_enabled":"http://s3.amazonaws.com/cdn1.hubspot.com/StockImages/Expressions/7K0A0014-2.jpg","post_list_content":"<p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>","post_list_summary_featured_image":"","post_rss_content":"<p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>","post_rss_summary_featured_image":"","post_summary":"<p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>","post_summary_rss":"<html>\n <head></head>\n <body>\n  <p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>\n </body>\n</html>","post_template":"generated_layouts/4679039338.html","preview_key":"zfOMmtEE","processing_status":"PUBLISHED","publish_date":1510138529000,"publish_date_local_time":1510138529000,"publish_date_localized":{"date":1510138529000,"format":"medium","language":"en_US"},"publish_immediately":false,"published_url":"http://demo-hubapi.hs-sites.com/blog/2017/11/08/first-blog-post","resolved_domain":"demo-hubapi.hs-sites.com","rss_body":"<p>This
        is your very first post. Click the Edit link to modify or delete it, or <a
        href=\"https://wordpress.com/post\">start a new post</a>. If you like, use
        this post to tell readers why you started this blog and what you plan to do
        with it.</p>","rss_summary":"<p>This is your very first post. Click the Edit
        link to modify or delete it, or <a href=\"https://wordpress.com/post\">start
        a new post</a>. If you like, use this post to tell readers why you started
        this blog and what you plan to do with it.</p>","rss_summary_featured_image":"http://s3.amazonaws.com/cdn1.hubspot.com/StockImages/Expressions/7K0A0014-2.jpg","slug":"blog/2017/11/08/first-blog-post","state":"PUBLISHED","subcategory":"imported_blog_post","synced_with_blog_root":true,"tag_ids":[4257445116],"tag_list":[],"tag_names":[],"template_path":"","template_path_for_render":"generated_layouts/4679039338.html","title":"First
        blog post update","topic_ids":[4257445116],"topic_list":[],"topic_names":[],"topics":[4257445116],"translated_content":{},"tweet_immediately":false,"unpublished_at":0,"updated":1513870957206,"upsize_featured_image":false,"url":"http://demo-hubapi.hs-sites.com/blog/2017/11/08/first-blog-post","use_featured_image":true,"widget_containers":{},"widgetcontainers":{},"widgets":{"module_1487252612363439":{"body":{"custom_widget_id":2056164297,"ending_html":"","field_types":{"test":"text"},"starting_html":"","tag":"custom_widget","type":"custom_widget","widget_name":"FartsNew
        custom module"},"child_css":{},"css":{},"id":"module_1487252612363439","label":"FartsNew
        custom module","module_id":650700,"name":"module_1487252612363439","smart_type":null,"type":"custom_widget"},"module_1488457618491436":{"body":{"version":0},"child_css":{},"css":{},"id":"module_1488457618491436","label":"Image
        Slider","name":"module_1488457618491436","smart_type":null,"type":"image_slider"},"module_1488457726157437":{"body":{"html":"<h2>Something
        Powerful</h2>\n<h3>Tell The Reader More</h3>\n<p>The headline and subheader
        tells us what you''re <a href=\"#\">offering</a>, and the form header closes
        the deal. Over here you can explain why your offer is so great it''s worth
        filling out a form for.</p>\n<p>Remember:</p>\n<ul>\n<li>Bullets are great</li>\n<li>For
        spelling out <a href=\"#\">benefits</a> and</li>\n<li>Turning visitors into
        leads.</li>\n</ul>"},"child_css":{},"css":{},"id":"module_1488457726157437","label":"TESTLABEL","name":"module_1488457726157437","smart_type":null,"type":"rich_text"},"module_1488463096430438":{"body":{"html":"<h2>Something
        Powerful</h2>\n<h3>Tell The Reader More</h3>\n<p>The headline and subheader
        tells us what you''re <a href=\"#\">offering</a>, and the form header closes
        the deal. Over here you can explain why your offer is so great it''s worth
        filling out a form for.</p>\n<p>Remember:</p>\n<ul>\n<li>Bullets are great</li>\n<li>For
        spelling out <a href=\"#\">benefits</a> and</li>\n<li>Turning visitors into
        leads.</li>\n</ul>"},"child_css":{},"css":{},"id":"module_1488463096430438","label":"Rich
        Text","name":"module_1488463096430438","smart_type":null,"type":"rich_text"},"module_151014909192621":{"body":{"html":"<h2>Something
        Powerful</h2>\n<h3>Tell The Reader More</h3>\n<p>The headline and subheader
        tells us what you''re <a href=\"#\">offering</a>, and the form header closes
        the deal. Over here you can explain why your offer is so great it''s worth
        filling out a form for.</p>\n<p>Remember:</p>\n<ul>\n<li>Bullets are great</li>\n<li>For
        spelling out <a href=\"#\">benefits</a> and</li>\n<li>Turning visitors into
        leads.</li>\n</ul>"},"child_css":{},"css":{},"id":"module_151014909192621","label":"Rich
        Text","name":"module_151014909192621","smart_type":null,"type":"rich_text"}}}'
  recorded_at: Fri, 10 Oct 2014 00:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/blogs/v3/topics/4257445116?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"created":1468456662960,"deletedAt":0,"description":"This is a topic
        description","id":4257445116,"name":"A New Topic","portalId":62515,"slug":"a-new-topic","updated":1468456662960}'
  recorded_at: Fri, 10 Oct 2014 00:00:00 GMT
recorded_with: VCR 2.4.0
