---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/properties/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"foo_test_property","label":"Foo Test Property","type":"string","groupName":"companyinformation"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2BA99F725EA23D45C3279409A7CDBDAD654F3F4807000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"foo_test_property","label":"Foo Test Property","description":"","groupName":"companyinformation","type":"string","fieldType":"","hidden":false,"options":[],"formField":false,"displayOrder":76,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"hubspotDefined":null,"deleted":null,"updatedUserId":null,"displayMode":"current_value","showCurrencySymbol":null,"createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"isCustomizedDefault":false,"createdAt":null,"updatedAt":null}'
  recorded_at: Tue, 27 Feb 2018 10:59:17 GMT
recorded_with: VCR 2.4.0
