---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/properties/named/foo_test_property?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"type":"string","groupName":"companyinformation","label":"Bar Test
        Property"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B01DDA1FCAC3E289ABEEDEB9A18815158B0DCDDB1000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"foo_test_property","label":"Bar Test Property","description":"","groupName":"companyinformation","type":"string","fieldType":"","hidden":false,"options":[],"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"hubspotDefined":null,"deleted":null,"updatedUserId":null,"displayMode":"current_value","showCurrencySymbol":null,"createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"isCustomizedDefault":false,"createdAt":null,"updatedAt":null}'
  recorded_at: Tue, 27 Feb 2018 11:38:19 GMT
recorded_with: VCR 2.4.0
