---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/properties/?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B77D3D43E52153CFD9AF1D256D1EEA7D7407A6DB0000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","options":[],"hidden":false,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":true,"favorited":false,"favoritedOrder":-1,"displayMode":"current_value","showCurrencySymbol":null,"createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"isCustomizedDefault":false,"deleted":null,"calculated":false,"externalOptions":false,"hubspotDefined":true,"formField":false,"displayOrder":-1,"createdAt":null,"updatedAt":null,"updatedUserId":null},{"name":"another_example_property","label":"Another
        Updated Example Property Label","description":"","groupName":"companyinformation","type":"string","fieldType":"","options":[],"hidden":false,"readOnlyValue":false,"readOnlyDefinition":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"displayMode":"current_value","showCurrencySymbol":null,"createdUserId":100097,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjec[...]
