---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/properties/named/about_us?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B09B576D38BA15E270025EEB895AE4D06C01E5E91000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"about_us","label":"About Us","description":"Short about-company","groupName":"companyinformation","type":"string","fieldType":"text","options":[],"hidden":false,"calculated":false,"externalOptions":false,"favorited":false,"favoritedOrder":-1,"displayMode":"current_value","showCurrencySymbol":null,"createdUserId":null,"textDisplayHint":null,"numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"isCustomizedDefault":false,"hubspotDefined":true,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":true,"deleted":null,"createdAt":null,"updatedAt":null,"updatedUserId":null}'
  recorded_at: Tue, 27 Feb 2018 10:36:31 GMT
recorded_with: VCR 2.4.0
