---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v2/properties/named/email?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B13CBECF371054290AFECB84A075C18A9B30A6B72000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"email","label":"Email","description":"A contact''s email address","groupName":"contactinformation","type":"string","fieldType":"text","hidden":false,"options":[],"calculated":false,"externalOptions":false,"deleted":false,"createdAt":1352496309950,"updatedAt":1409956400408,"formField":true,"displayOrder":5,"hubspotDefined":true,"readOnlyValue":false,"readOnlyDefinition":true,"mutableDefinitionNotDeletable":true,"favorited":true,"favoritedOrder":3,"displayMode":"current_value","showCurrencySymbol":null,"createdUserId":null,"textDisplayHint":"email","numberDisplayHint":null,"optionsAreMutable":null,"referencedObjectType":null,"isCustomizedDefault":false,"updatedUserId":null}'
  recorded_at: Mon, 26 Mar 2018 18:11:14 GMT
recorded_with: VCR 2.4.0
