---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form 1520505081","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B648E410F5CF6AE563625932F774C2283553B0FD9000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"7f82048b-1364-4158-8a59-166e70df42c6","name":"Demo
        Form 1520505081","action":"","method":"POST","cssClass":"hs-form stacked","redirect":"","submitText":"Sign
        Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1520505081738,"updatedAt":1520505081738,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":""}'
  recorded_at: Thu, 08 Mar 2018 10:31:21 GMT
recorded_with: VCR 2.4.0
