---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/4318933?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"engagement":{"id":4318933,"portalId":62515,"active":true,"createdAt":1428586620389,"lastUpdated":1479827851243,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"NOTE","timestamp":1428586620389},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[]},"attachments":[],"metadata":{"body":"Test"}}'
  recorded_at: Mon, 25 Sep 2017 10:13:24 GMT
recorded_with: VCR 2.4.0
