---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/testingapis@hubspot.com?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"testingapis@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":6306674,"isNew":false}'
  recorded_at: Wed, 21 Mar 2018 15:39:00 GMT
recorded_with: VCR 2.4.0
