---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=demo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B9A0894A341CCE048AF0E7E1C3DFBF88B1BE2BE78000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Form name is required, form guid ''b6fd1c9b-dc7d-4bea-a7cf-1bc98a031177''","correlationId":"1f34e9ac-2ffa-4a05-9386-08798f339ae3","type":"MISSING_NAME","requestId":"1e74f994c49184116bd417408d03eecd"}'
  recorded_at: Thu, 08 Mar 2018 10:25:34 GMT
recorded_with: VCR 2.4.0
