---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0/email?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 2B8C31D0C266E7D6B5AC6389DB1E6F55530776E6D2000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"The Form with the guid ''561d9ce9-bb4c-45b4-8e32-21cdeaa3a7f0''
        has no FormField with the name ''email''.","correlationId":"1e70312c-26fb-44f3-a65b-38a359087a00","requestId":"ca8de539249f74cca47c0b904e7fe528"}'
  recorded_at: Tue, 13 Mar 2018 13:37:40 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/c4189ed5-c056-400d-8e11-63c103c4b422/email?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B36E690CEFFE29D75AE784CF24F00800B4B7C4589000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":2,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"email","message":"Please
        enter a valid email address","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false}'
  recorded_at: Tue, 13 Mar 2018 13:41:50 GMT
recorded_with: VCR 2.4.0
