---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/recent/modified?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"engagement":{"id":496855598,"portalId":62515,"active":true,"createdAt":1506249164719,"lastUpdated":1506249164719,"ownerId":2978720,"type":"NOTE","timestamp":636418459634654854},"associations":{"contactIds":[860925],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[]},"metadata":{"body":"Oferta
        trimisa pentru Recent Update Hi Record11. <br/>Oferta este la: . <br/>A fost
        trimisa de catre . <br/>"}},{"engagement":{"id":496419043,"portalId":62515,"active":true,"createdAt":1506185159550,"lastUpdated":1506185159550,"ownerId":2978720,"type":"NOTE","timestamp":636417819585148637},"associations":{"contactIds":[860674],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[]},"metadata":{"body":"Oferta
        trimisa pentru John cruz. <br/>Oferta este la: . <br/>A fost trimisa de catre
        . <br/>"}},{"engagement":{"id":490818906,"portalId":62515,"active":true,"createdAt":1505886216207,"lastUpdated":1505886216207,"ownerId":2978720,"type":"NOTE","timestamp":636414830161372495},"associations":{"contactIds":[860974],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[]},"metadata":{"body":"Oferta
        trimisa pentru John cruz. <br/>Oferta este la: . <br/>A fost trimisa de catre
        . <br/>"}},{"engagement":{"id":489045411,"portalId":62515,"active":true,"createdAt":1505804640350,"lastUpdated":1505804640350,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"NOTE","timestamp":1505804640350},"associations":{"contactIds":[],"companyIds":[548578748],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[]},"attachments":[{"id":5344867333}],"metadata":{"body":""}},{"engagement":{"id":488798566,"portalId":62515,"active":true,"createdAt":1505803968773,"lastUpdated":1505803968773,"createdBy":215482,"modifiedBy":215482,"ownerId":70,"type":"NOTE","timestamp":1505803968773},"associations":{"contactIds":[],"companyIds":[],"dealIds":[192735133],"ownerIds":[],"workflowIds":[],"ticketIds":[]},"attachments":[{"id":5344863123}],"metadata":{"body":""}},{"engagement":{"id":487802290,"portalId":62515,"active":true,"createdAt":[...]
