---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/forms/c4189ed5-c056-400d-8e11-63c103c4b422/?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2BC538F5EFE2EE272616CB52EF015249BAF7AE97FC000000000000000000
    body:
      encoding: UTF-8
      string: '{"guid":"c4189ed5-c056-400d-8e11-63c103c4b422","name":"1234zz","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","fields":[{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":2,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"email","message":"Please
        enter a valid email address","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false},{"name":"hs_rich_text_bccc55d5c3043c9c6de96800f9b09ba070fe2a43","label":"Rich
        Text","type":"string","fieldType":"richtext","description":"","groupName":"","displayOrder":0,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"gjdjdghjdhgjdhj","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidd[...]
