---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/c4189ed5-c056-400d-8e11-63c103c4b422?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B3876E0D770E6EA4364CA83249B23DB3240984028000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"c4189ed5-c056-400d-8e11-63c103c4b422","name":"1234zz","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Submit","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[{"fields":[{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":2,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"email","message":"Please
        enter a valid email address","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false}],"default":true,"isSmartGroup":false,"richText":{"content":""}},{"fields":[{"name":"lastname","label":"Last
        Name","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":true,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false}],"default":true,"isSmartGro[...]
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/-1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
      X-Trace:
      - 2B73B76C171102387E84E3CDC7D14737E1A9D282A3000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"No form found with guid ''-1''","correlationId":"1bf50842-7b3e-49ba-8340-4dbd7a77a8e8","type":"NOT_FOUND","requestId":"c16ef8de0e76d220ae397bf24e29bf60"}'
  recorded_at: Tue, 13 Mar 2018 13:37:22 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/c4189ed5-c056-400d-8e11-63c103c4b422?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B2DF4A9C70832E9113DD74AE739970BDF55845CB2000000000000000000
    body:
      encoding: UTF-8
      string: '[{"name":"email","label":"Email","type":"stri[...]
