---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/d909f670-7542-4f2a-9160-58ec1bc3c4a4?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B0457D4547AB0E34593C45F9875A4AA615FD7EB84000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"d909f670-7542-4f2a-9160-58ec1bc3c4a4","name":"updated
        form name d909f670-7542-4f2a-9160-58ec1bc3c4a4","action":"","method":"","cssClass":"","redirect":"http://hubspot.com","submitText":"","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":0,"updatedAt":1520504970399,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":""}'
  recorded_at: Thu, 08 Mar 2018 10:29:48 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/forms/v2/forms/7f82048b-1364-4158-8a59-166e70df42c6?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B4BC5E04CE4132FDFEEF94DC9EDE84D7866C6BBF7000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Mar 2018 13:42:37 GMT
recorded_with: VCR 2.4.0
