---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/d909f670-7542-4f2a-9160-58ec1bc3c4a4?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B917C8A30458BB3772986B2CDB95FB02AF147412A000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"d909f670-7542-4f2a-9160-58ec1bc3c4a4","name":"Demo
        Form 1520504733","action":"","method":"POST","cssClass":"hs-form stacked","redirect":"","submitText":"Sign
        Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1520504734102,"updatedAt":1520504734102,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":""}'
  recorded_at: Thu, 08 Mar 2018 10:29:30 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms/7f82048b-1364-4158-8a59-166e70df42c6?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"updated form name 7f82048b-1364-4158-8a59-166e70df42c6","redirect":"http://hubspot.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B307F8701B4A6859312F8DC956A83764047BF6375000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"guid":"7f82048b-1364-4158-8a59-166e70df42c6","name":"updated
        form name 7f82048b-1364-4158-8a59-166e70df42c6","action":"","method":"","cssClass":"","redirect":"http://hubspot.com","submitText":"","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":0,"updatedAt":1520948550613,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":""}'
  recorded_at: Tue, 13 Mar 2018 13:42:30 GMT
recorded_with: VCR 2.4.0
