---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=demo&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Total-Count:
      - '206012'
      X-Trace:
      - 2B69635EFC7EC101AF6E9FF70883A8D8700BA27273000000000000000000
    body:
      encoding: UTF-8
      string: '[{"portalId":62515,"guid":"c4189ed5-c056-400d-8e11-63c103c4b422","name":"1234zz","action":"","method":"","cssClass":"","redirect":"","submitText":"New
        submit text","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":0,"updatedAt":1521208264513,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":""},{"portalId":62515,"guid":"51c7fd8c-2bd9-4663-abdc-fb6f090817f4","name":"1integration.endpoasdint1","action":"","method":"POST","cssClass":"","redirect":"","submitText":"Submit","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[{"fields":[{"name":"firstname","label":"First
        Name","type":"string","fieldType":"text","description":"","groupName":"","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false,"propertyObjectType":"CONTACT"}],"default":true,"isSmartGroup":false,"richText":{"content":""}}],"createdAt":1496841745474,"updatedAt":1508855646359,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"legacy"},{"portalId":62515,"guid":"a5ab4c50-9d13-4afe-8d83-677b4df14ab7","name":"1integration.endpoint1","action":"","method":"POST","cssClass":"","redirect":"","submitText":"Submit","followUp[...]
