---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8954037],"associatedVids":[27136]},"properties":[{"name":"amount","value":30}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2BF662149D4F77660CC610715A30DFF47376C53CDE000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":270648192,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"associationCreateFailures":[{"association":{"fromObjectId":270648192,"toObjectId":8954037,"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5,"associationType":"DEAL_TO_COMPANY","timestamp":null},"failReason":"INVALID_OBJECT_IDS","message":"COMPANY=8954037
        is not valid"},{"association":{"fromObjectId":270648192,"toObjectId":27136,"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3,"associationType":"DEAL_TO_CONTACT","timestamp":null},"failReason":"INVALID_OBJECT_IDS","message":"CONTACT=27136
        is not valid"}],"properties":{"amount":{"value":"30","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1522086750828,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1522086750828","timestamp":1522086750828,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1522086750828","timestamp":1522086750828,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1522086750828","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1522086750828","timestamp":1522086750828,"source":"API","sourceVid":[]}]},"createdate":{"value":"1522086750828","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1522086750828","timestamp":1522086750828,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 26 Mar 2018 17:52:30 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/270648192?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B3761B99FFCE58ACE42FE525F5E8C4CA2A5B92ADE000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":270648192,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"amount":{"value":"30","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1522086750828,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1522086750828","timestamp":1522086750828,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1522086750828","timestamp":1522086750828,"source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1522086750828","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1522086750828","timestamp":1522086750828,"source":"API","sourceVid":[]}]},"createdate":{"value":"1522086750828","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1522086750828","timestamp":1522086750828,"source":"API","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 26 Mar 2018 17:52:31 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/270648192?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"amount","value":50}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 2B55EF47D7FC3DCD248F7A089DB3B14C20E959D4BC000000000000000000
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":270648192,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"amount":{"value":"50","timestamp":1522086751356,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"50","timestamp":1522086751356,"source":"API","sourceVid":[]},{"name":"amount","value":"30","timestamp":1522086750828,"source":"API","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1522086751356","timestamp":1522086751356,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1522086751356","timestamp":1522086751356,"source":"CALCULATED","sourceVid":[]},{"name":"hs_lastmodifieddate","value":"1522086751316","timestamp":1522086751316,"source":"CALCULATED","sourceVid":[]}]},"hs_analytics_source":{"value":"","timestamp":1522086750956,"source":"CALCULATED","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source","value":"","timestamp":1522086750956,"sourceId":"deal
        sync with no associated contacts","source":"CALCULATED","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1522086750828","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"hs_createdate","value":"1522086750828","timestamp":1522086750828,"source":"API","sourceVid":[]}]},"createdate":{"value":"1522086750828","timestamp":1522086750828,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1522086750828","timestamp":1522086750828,"source":"API","sourceVid":[]}]},"hs_analytics_source_data_2":{"value":"","timestamp":1522086750956,"source":"CALCULATED","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source_data_2","value":"","timestamp":1522086750956,"sourceId":"deal
        sync with no associated contacts","source":"CALCULATED","sourceVid":[]}]},"hs_analytics_source_data_1":{"value":"","timestamp":1522086750956,"source":"CALCULATED","sourceId":"deal
        sync with no associated contacts","versions":[{"name":"hs_analytics_source_data_1","value":"","timestamp":1522086750956,"sourceId":"deal
        sync with no associated contacts","source":"CALCULATED","sourceVid":[]}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Mon, 26 Mar 2018 17:52:31 GMT
[...]
